<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg"%>
	</div>
	<div id="content">
		<h1>Yash Kapoor</h1>
		<p>This is an initiative to inform the students about the placement stats about Thapar University.
		Students can contact the respective person for guidance. Through this the senior junior interaction is going to increase.
		</p>		
	</div>
</div>